@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
body {
  font-family: Roboto, sans-serif;
  margin: 0;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  background-image: linear-gradient(to top, #313ba6 0%, #c1c6cb 100%);
}
.profile-card {
  background: #fff;
  box-shadow: 0px 0px 8px 5px rgba(34, 35, 58, 0.5);
  width: 450px;
  max-width: 450px;
  border-radius: 25px;
}

/* .card-text{
    background-image: linear-gradient(to top, #09345c 0%, #c1c6cb 100%);
} */

.profile-card .job-title {
  color: rgb(22, 144, 210);
  font-weight: bold;
  font-size: 13px;
}
.profile-card .bio {
  font-size: 12px;
}

.profile-image {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-image: linear-gradient(-60deg, #201bb5 0%, #fffefa 100%);
}

.profile-name{
    color: #062e50;
}

.actions{
    height: 100px;
    background-image: linear-gradient(to top, #03709f 0%, #c1c6cb 100%);
    border-radius: 0 0 25px 25px;
}

.emailAdd{
    font-size: smaller;
    color: rgb(167, 100, 115);
}

.current-loc{
    font-style: italic;
    font-size: x-small;
}

button {
  border: none;
  background: none;
  font-size: 24px;
  color: #f9fbf7;
  cursor: pointer;
  transition:.5s;
  &:hover{
    color: #f8faf8  ;
    transform: rotate(22deg)
  }
}
